/* body{
    font-family: 'Poppins', sans-serif ;
    background: #fcf4fb;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:100vh;
}


.content{
    background-color: #fff;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
    width:50vw;
    min-height:480px;
    max-width:100%;
}


.content button{
    background-color: #82257b;
    color:#fff;
    padding:10px 10px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform:uppercase;
    margin-top:10px;

}

.btn:hover{
    background-color: #82257b;
}

.header-text h1, forgot a{
    color: #82257b;
}

.right-box{
    padding:40px 30px 40px 40px;

}
.switch-content{
    position: absolute;
    top: 0;
    right: 50%;
    width:50%;
    height:100%;
    overflow:hidden;
    transition:all 0.6s ease-in-out;
    border-radius: 0 60px 60px 0;
    z-index: 1000;
}

.content.active .switch-content{
    transform: translateX(100%);
    border-radius:60px 0 0 60px ;

}

.switch{
    background-color: #82257b;
    height: 100%;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width:200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.content.active .switch{
    transform: translateX(50%);
}

.switch-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding:0 30px;
    align-items: center;
    top: 0;
    transition: all 0.6s ease-in-out;
    transform: translateY(0);
}

.switch-left{
    transform: translateX(-200%);
}
.content.active .switch-left{
    transform: translateX(0);
}

.switch-right{
    right:0;
    transform: translateX(0);
}

.content.active .switch-right{
    transform: translateX(200%);
} */